<!DOCTYPE html>
<html>
  <head>
    <title>Recetario</title>
  </head>
  <body>
    <u><h1>Matambre arrollado</h1></u>
    <img
      src="../img/matambre.png"
      alt="[Descripción de la imagen]"
      width="500"
      height="200"
    />

    <h2>Ingredientes</h2>

    <ul>
      <li>pimienta</li>
      <li>mostaza</li>
      <li>2 dientes de ajo</li>
      <li>panceta</li>
      <li>zanahoria</li>
      <li>huevo</li>
      <li>tomate seco</li>
      <li>morrón</li>
      <li>perejil</li>
      <li>caldo</li>
    </ul>

    <h2>Preparación</h2>

    <iframe
      width="500"
      height="200"
      src="https://www.youtube.com/embed/1bXKotgv-ho"
      title="MATAMBRE ARROLLADO: TODO LO QUE TENÉS QUE SABER"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
    <ol>
      <li>      Desgrasar el matambre, sacar la grasa gruesa tirando con fuerza,  y la grasa fina tirando un poquito y desprendiéndola con la ayuda de un cuchillo. ojo con romper la carne, en el video se ve bien
</li>
<li>Cortar el matambre cuadrado, tratar de darle la forma más cuadrada posible sin desperdiciar mucho. Condimentar con sal y pimienta, pintar con mostaza, agregar leche de ajo o un par de dientes de ajo picado, y por último perejil picado.
</li>
<li>Relleno: en uno de los bordes largos, vamos a poner la panceta y las tiras de zanahoria cruda, dejar un espacio de unos 3 o 4 cm y colocar el morrón en tiras. Por último, después de otro espacio, colocamos los tomates secos.
</li>
<li>Todo lo que ponemos a continuación, lo esparcimos entre todo el matambre arrollado: cebolla de verdeo picada gruesa, arvejas y huevo duro rallado.
</li>
<li>Enrollar de forma pareja e ir haciendo presión para que no quede mucho aire.
</li>
<li>Ahora vamos a bridar el matambre arrollado. El bridado es atar la carne con presión para que no se desarme en la cocción. Se hace con un hilo de matambre que aguante el calor. Se empieza con un nudo en uno de los extremos, y se forma un lazo con la mano para pasar por el matambre arrollado, se sigue hasta el otro extremo. Es muy difícil explicar con palabras, en el video se ve perfecto!
</li>
<li>Envolver en papel film bien ajustado dos veces para evitar que se salga el relleno. y volver a bridar.
</li>
<li>Llevar a una olla con agua, sal y caldo. Mantener el hervor entre 1 hora y media y dos horas, depende el grosor del matambre. A mitad de cocción lo vamos a dar vuela. Si se queda sin agua, agregar agua hirviendo para no cortar la cocción.
</li>
<li>Pasado el tiempo de cocción, lo dejamos entibiar en el agua.
</li>
<li>Si quieren lo pueden prensar para que no se desarme. Para esto lo vamos a poner entre dos tablas y agregar peso por encima un par de horas mientras enfría. Llevar a la heladera y enfriar bien antes de comer.
</li>
    </ol>
  </body>
</html>
